* {
  font-family: GigaSansBlack;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #252333, #715474);
}
@font-face {
  font-family: GigaSansBlack;
  src: url(./fonts/giga-sans-black.otf);
}

.flip {
  transform: rotateY(180deg);
}

.card {
  width: 117px;
  position: relative;
  height: 117px;

  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.back_card,
.front_card {
  border: #111 solid 3px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
  transition-property: border, color, background;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}
.front_card {
  transform: rotateY(180deg);
  background: linear-gradient(to right, #252333, #b84141);
}
.front_card:hover {
  border: #eee 3px solid;
}
.back_card {
  background-color: #ca2828;
}
.back_card:hover {
  background-color: #e60909;
  color: #eee;
  border: #eee 3px solid;
  cursor: pointer;
}

.gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  color: #eee;
  font-size: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
.startScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.904);
  color: #eee;
  font-size: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
.titleStartScreen {
  width: 90%;
  white-space: nowrap;
  border-right: 2px solid #d40a0a;
  overflow: hidden;
  font-size: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  word-break: break-all;
}

.restart {
  margin-top: 30px;
  color: #111;
  padding: 30px;
  font-size: 20px;
  background-color: #d40a0a;
  border: none;
  border-radius: 10px;
  border: 3px solid #111;
  transition-property: color, border, background;
  transition-delay: 100ms;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.restart:hover {
  cursor: pointer;
  color: #eee;
  border: #eee 3px solid;
  background-color: #111;
}

.titleGameOver {
  position: relative;
  white-space: nowrap;
  border-right: 2px solid #eee;
  overflow: hidden;
}
.efeito-digitação {
  animation: maquinaDeEscrever 4s steps(40) 1s normal both,
    cursorDeTexto 500ms steps(40) infinite normal;
}
.efeito-digitação1 {
  animation: maquinaDeEscrever1 4s steps(40) 1s normal both,
    cursorDeTexto 500ms steps(40) infinite normal;
}

@keyframes maquinaDeEscrever {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes maquinaDeEscrever1 {
  from {
    width: 0;
  }
  to {
    width: 40em;
  }
}
@keyframes cursorDeTexto {
  from {
    border-right-color: #eee;
  }
  to {
    border-right-color: transparent;
  }
}

.tabuleiro {
  max-width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  grid-template-rows: repeat(5, minmax(100px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

.start {
  margin-top: 30px;
  color: #111;
  padding: 20px;
  background-color: #d40a0a;
  border: none;
  border-radius: 10px;
  border: 3px solid #111;
  font-size: 20px;
  transition-property: color, border, background;
  transition-delay: 100ms;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.start:hover {
  cursor: pointer;
  color: #eee;
  border: #eee 3px solid;
  background-color: #111;
}
.containerGameOver {
  width: 90%;
}
